*{
    
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Big Shoulders Display', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Poppins', sans-serif;
  
}

html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
:root{
    --desktop-resposive : 1360px;
    --para-color:#8B8A8B;
    --primary-color:black;
--secondary-color:#0288D1;                                                                                                                              
}
/* header css */

header{
    width: 100%;
}
nav{
    padding: 0.8rem 1rem;
    max-width: var(--desktop-resposive);
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home_button{
    font-weight: 900;
}
#home_button > a{
    text-decoration: none;
    color: var(--primary-color);
}
.tabs_container{
 display: flex;   
 justify-content: space-between;
}
.tabs_container > a{
    text-decoration: none;
    color: black;
}
.tab{
    cursor: pointer;
    margin: 0 0.6rem;
}
.tab:hover{
    font-weight: 600;
    cursor: pointer;
    margin: 0 0.6rem;
}

/* header css */

main{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.intro_container{
    
    align-items: center;
    display: flex;
max-width:var(--desktop-resposive);
margin: 0 auto;
justify-content: space-around;
}
.about_container>    h1{
        line-height: 1in;
        font-size: 5rem;
        font-weight: 800;
        font-style: bold;
        margin-bottom: 3rem;
    
    
}

.icon{
    cursor: pointer;
    width: 32px;
}


.icon:hover{
    border-bottom: 2px solid var(--secondary-color);
    cursor: pointer;
    width: 32px;
}

.github_icon:hover{
    border-bottom: 2px solid --primary-color !important;
}

.intro_container > img{
    max-width: 500px;
    max-height: 700px;

    object-fit: contain;
}

/* project section */

.project_section{
    width: 100%;
    min-height: 100vh;
}

.projects_container{
    width:850px;
    margin: 0 auto;
}

.projects_container > h1{
    color: var(--secondary-color);
}

.project_container{
    cursor: pointer;
    display: flex;

   align-items: center;
}

.project_container:hover{
    
    border-bottom: 2px solid var(--secondary-color);
    cursor: pointer;
    display: flex;
   align-items: center;
}

.screenshot{
   
    width: 540px;
    height: 350px;
    object-fit: contain;
}
.snapkoo_ > img{
    margin-right: 6rem;
}

.tech_stack_list{
    display: flex;
   }


.tech_stack_list > p{
    margin: 0 0.6rem;
}


.source_code_n_live_demo{
    
    display: flex;
    margin-top: 40px;
}


.source_code_n_live_demo > a>p{
   color: var(--primary-color);
   font-weight: 800;
}
.code_container{
    margin-right: 15px;
}


.source_code_n_live_demo>a>img{
    width: 36px;
}
.source_code_n_live_demo>a{
    text-decoration: none;
   display: flex;
   align-items: center;
   font-size: 0.8rem;
}

h4{
    margin-bottom: 1.5rem;
    text-align: center;
   text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.information_container > p{
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--para-color);
}


.snapphotos_ > img{
    margin-left: 6rem;
}

.snapimdb_ > img{
    margin-right: 6rem;
}
/* project section */

/* FOOTER SECTION */

footer{

    padding-top: 5rem;
    margin-top: 5rem;
    width: 100%;
    background-color: #F1F5F9;
}

.contact_section{
    
    max-width: var(--desktop-resposive);
    margin: 0 auto;
}


h5{
    color: var(--secondary-color);

}
.info_container{
    display: flex;
    margin-top: 5rem;
}


.information_con{
    display: flex;
  
}

.information_con > img{
  width: 42px;
  margin: 0 0.6rem;
  
}